
#container{
    height: 700px;
    width: 1350px;  
    margin-left: auto;
    margin-right: auto; 

}

#nerd img{
    height: 630px;
    width: 500px;
    margin-top: -27%;
    display: flex;
    margin-left: auto; 
    margin-right: auto;  
    
}

body{
    background: linear-gradient(to right,#FFCBDC 50%,#87CEEB 50%) ;
  
}


#mensagem{

    font-family: Poppins, arial;
    font-size  : 90px; 
    color :   #43caff

}


#balao  img {
    height: 127px;
    width: 130px;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}




