
#container{
    height: 700px;
    width: 1350px;  
    margin-left: auto;
    margin-right: auto; 

}



#nerd img{
    height: 630px;
    width: 500px;
    margin-top: -24.5%;
    display: flex;
    margin-left: auto; 
    margin-right: auto;  
    
}

body{
    background: #FFCBDC ;
}



#mensagem{

    font-family: Poppins, arial;
    font-size  : 90px; 
    color :   #9b1122; 

}


#balao  img {
    height: 127px;
    width: 130px;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}




