
#container{
    height: 700px;
    width: 1350px;  
    margin-left: auto;
    margin-right: auto; 

}



#nerd img{
    height: 630px;
    width: 500px;
    margin-top: -25%;
    display: flex;
    margin-left: auto; 
    margin-right: auto;  
    
}

body{
    background:#FFCBDC  ;
}



#mensagem{

    font-family: Poppins, arial;
    font-size  : 80px; 
    color :  #810621; 

}


#balao  img {
    height: 127px;
    width: 130px;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}




@media screen and (min-width:0px) and (max-width:500px){
  
    #mensagem{
       
        font-size  : 40px; 
    }
    #balao  img {
        height: 82px;
        width: 83px;
    
    }
    #nerd img{
        margin-top: -22ch;
        height: 60%;
        width: 60%;
    }
    #container{
        height: 800px;
        width: 600px; 
    }

  

    
}




@media screen and (min-width:501px) and (max-width:800px){
    
    #mensagem{
       
        font-size  : 60px; 
    }

   
     
    #balao  img {
        
        transform: scale(0.8, 0.8);
    }

    #nerd img{
        margin-top: -38ch;
        transform: scale(0.9, 0.9);
    }

    

    #container{
        height: 790px;
        width: 850px; 
    }


}




